/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset CSS */

/* Clear fix */
.clear{
	content: "";
  display: block;
  clear: both;
	overflow: hidden;
}
/* Clear fix */

/* Fonts */
@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.ttf');
}
@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-regular.ttf');
}
@font-face {
    font-family: 'lato-light';
    src: url('../fonts/lato-light.ttf');
}
@font-face {
    font-family: 'lato-hairline';
    src: url('../fonts/lato-hairline.ttf');
}
@font-face {
    font-family: 'lato-hairline-italic';
    src: url('../fonts/lato-hairline-italic.ttf');
}
/* Fonts */
header{
  width: 85%;
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 5%;
  right: 5%;
}
.logo{
  float: left;
  max-width: 100%;
}
header nav{
  width: 20%;
  float: right;
  padding-top: 4%;
}
header nav ul li a{
  float: left;
  padding: 2%;
  margin-right: 8%;
  text-decoration: none;
  color: #fff;
  font-size: 12pt;
  font-family: "lato-bold";
  text-transform: uppercase;
}
.hamburger-menu{
  position: relative;
}
.hamburger-dropdown{
  padding: 0.5%;
	position: absolute;
	top: 65%;
  right: 1%;
	z-index: 1;
  width: 10%;
  display: none;
  text-align: center;
  opacity: 0.8;
}
.hamburger-dropdown li a{
  width: 100%;
  margin-bottom: 8%;
}
.get-started-section{
  width: 100%;
  background: url('../images/content/get-started-section-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 0 10% 0;
}
.get-started-section article{
  width: 60%;
  display: block;
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
}
.get-started-section article h3{
  font-family: "Times New Roman", Times, serif;
  font-size: 20pt;
  font-style: italic;
  color: #d6ced3;
  font-weight: bold;
  margin: 3% auto 0 auto;
  display: block;
  }
  .get-started-section article h2{
    display: block;
    margin: 1.5% auto 5% auto;
    font-family: "lato-bold";
    font-size: 60pt;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .get-started-btn{
    text-decoration: none;
    color: #fff;
    padding: 2% 6%;
    border: 3px solid #fff;
    font-family: "lato-bold";
    text-transform: uppercase;
    font-size: 12pt;
    border-radius: 3px;
  }
  .get-started-section article h5{
    display: block;
    margin: 8% auto;
    font-family: "lato-regular";
    font-size: 10pt;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
.get-started-section article h5 a{
  font-family: "lato-regular";
  font-size: 10pt;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.get-articles-section{
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 6% 0;
}
.get-articles-section article{
  width: 25%;
  float: left;
}
.get-articles-section article:nth-child(2){
  margin: 0 12.4%;
}
.get-articles-section article img{
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.get-articles-section article h4{
  font-size: 15pt;
  font-family: "lato-bold";
  text-align: center;
  margin: 4% auto;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-bottom: 2%;
}
.get-articles-section article h4::after{
  content: "";
  display: block;
  margin: 0 auto;
  width: 40%;
  border-bottom: 2px solid #f57365;
  padding-top: 2%;
}
.get-articles-section article p{
  font-family: "lato-light";
  font-size: 11pt;
  color: #aaaaaa;
  text-align: justify;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.mobile-app-section{
  width: 100%;
  background: url('../images/content/mobile-app-section-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 0 45% 0;
}
.mobile-app-section article{
  float: right;
  width: 38%;
  margin-right: 10%;
  margin-top: 3%;
}
.mobile-app-section article h3 {
  font-size: 16pt;
  font-family: "lato-bold";
  text-transform: uppercase;
  letter-spacing: 1px;
}
.mobile-app-section article h3::after{
  content: "";
  display: block;
  width: 20%;
  border-bottom: 2px solid #f57365;
  padding-top: 2%;
}
.mobile-app-section article p{
  font-family: "lato-light";
  margin-top: 4%;
  color: #676767;
  text-align: justify;
  font-size: 13pt;
}
.mobile-app-section article ul{
  margin-top: 8%;
}
.mobile-app-section article ul li a{
  float: left;
  padding: 4% 12%;
  border-radius: 5px;
  margin-right: 5%;
}
.app-store-btn{
  background: url('../images/content/app-store-btn-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.google-play-btn{
  background: url('../images/content/google-play-btn-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial-section{
  width: 100%;
  background: url('../images/content/testimonial-section-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4% 0 4% 0;
  background-position: center;
}
.testimonial-section img{
  max-width: 100%;
  display: block;
  margin: 0 auto 2% auto;
}
.testimonial-section q{
  font-size: 22pt;
  font-family: "lato-hairline";
  color: #fff;
  text-align: center;
  width: 65%;
  display: block;
  margin: 0 auto;
  line-height: 130%;
}
.testimonial-section cite{
  font-size: 14pt;
  font-family: "lato-hairline-italic";
  color: #fff;
  text-align: center;
  width: 65%;
  display: block;
  margin: 2% auto;
}
.testimonial-section ul{
  display: block;
  margin: 0 auto;
  width: 15%;
  text-align: center;
  padding-left: 10%;
}
.testimonial-section ul li a{
  padding: 3%;
  border-radius: 100px;
  margin: 2%;
  background: #756974;
  float: left;
  text-align: center;
  transition: 0.5s ease-out;
}
.testimonial-section ul li a:hover{
  background: #fff;
}
.cuisine-section{
  width: 100%;
  padding: 3% 0;
}
.cuisine-section h3{
  font-size: 15pt;
  font-family: "lato-bold";
  text-transform: uppercase;
  margin: 2% auto 5% auto;
  display: block;
  text-align: center;
}
.cuisine-section h3::after{
  content: "";
  display: block;
  width: 7%;
  border-bottom: 2px solid #f57365;
  padding-top: 1%;
  margin: 0 auto;
}
.image-wrapper{
  width: 20%;
  position: relative;
  float: left;
}
.image-wrapper img{
  max-width: 100%;
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease-out;
  cursor: pointer;
}
.overlay-container{
  position: absolute;
  color: red;
  top: 10%;
  right: 10%;
  opacity: 0;
  transition: 0.2s ease-in;
}
.overlay-container span{
  font-size: 12pt;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  text-align: right;
}
.overlay-container h4{
  font-size: 20pt;
  font-family: "lato-bold";
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.image-wrapper img:hover{
  opacity: 0.7;
}
.image-wrapper:hover .overlay-container{
  opacity: 1;
}
.users-info-section{
  width: 85%;
  display: block;
  margin: 2% auto 0 auto;
}
.users-info-section article{
  float: left;
  width: 20%;
}
.users-info-num{
  display: block;
  font-family: "lato-bold";
  font-size: 28pt;
  text-align: center;
}
.users-info-descr{
  display: block;
  font-family: "lato-light";
  font-size: 12pt;
  color: #6b6b6b;
  text-align: center;
}
footer{
  width: 100%;
  background: #f7f7f7;
  border-top: 2px solid #e2e2e2;
  padding: 2% 0;
}
.inner-footer-wrapper{
  width: 80%;
  display: block;
  margin: 0 auto;
}
.copyrights{
  float: left;
  font-family: "lato-light";
  color: #d3d3d3;
  font-size: 13pt;
}
.design-by{
  float: right;
  font-family: "lato-ligt";
  color: #d3d3d3;
  font-size: 13pt;
  letter-spacing: 1px;
}
.design-by a{
  font-family: "lato-regular";
  font-size: 13pt;
  color: #000;
  text-decoration: none;
  letter-spacing: 1px;
}
